<!doctype html>
<html ng-app='crowdtro'>
  <head>
    <meta charset=utf-8>
    <title>Crowdtro</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' type='text/css' charset='utf-8' media='screen'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.responsive.min.css' type='text/css' charset='utf-8' media='screen'>

    <script src='/javascripts/jquery.min.js' type='text/javascript' charset='utf-8'></script>
    <script src='/javascripts/bootstrap.min.js' type='text/javascript' charset='utf-8'></script>


    <script src='/javascripts/angular.js' type='text/javascript' charset='utf-8'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js'></script>
    <script src='/v2/crowdtro.js' type='text/javascript' charset='utf-8'></script>
  </head>
  <body ng-controller='CrowdtroCtrl'>

    <div ng-repeat='concern in concerns | filter:{complete:false}'>
      <div>
        {{concern.content}} @ {{concern.score}}
        <br/>
        <a href='#' ng-click='completeConcern(concern)'>Done</a>
        <a href='#' ng-click='trashConcern($index)'>Trash</a>
        <a href='#' ng-click='downVote(concern)'>---</a>
        <a href='#' ng-click='upVote(concern)'>+++</a>
      </div>
    </div>

    <hr>

    <div>
      <form>
        <textarea ng-model='newConcern.content'> </textarea>
        <input type='submit' value='Save' ng-click='addConcern(newConcern)'>
      </form>
    </div>

    <hr>

    <div ng-repeat='concern in concerns | filter:{complete:true}'>
      <div>
        {{concern.content}} @ {{concern.score}}
        <br/>
        <a href='#' ng-click='resurrectConcern(concern)'>JK</a>
        <a href='#' ng-click='trashConcern($index)'>Trash</a>
        <a href='#' ng-click='downVote(concern)'>---</a>
        <a href='#' ng-click='upVote(concern)'>+++</a>
      </div>
    </div>

  </body>
</html>
